#marketo-return-button-container{
  position: absolute;
  height: 50px;
  top: 0px;
  width: 100%;
  padding-top: 10px;
}

#marketo-return-button-inner-container{
  float: right;
  margin-right: 50px;
  width: 200px;
  text-align: center;
  height: 35px;
  background-color: #fff;
  color: #5a54a4;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

#market-return-button{
  padding-top: 10px;
}