.body-background{
	width: 100%;
	background: url('//marketolive.com/m2/assets/img/marketolivemain.png') no-repeat center center fixed;
	background-repeat: no-repeat;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.body-background1{
	width: 100%;
	background: url('//marketolive.com/m2/assets/img/marketolivehomepage1.png') no-repeat center center fixed;
	background-repeat: no-repeat;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.body-background2{
	width: 100%;
	background: url('//marketolive.com/m2/assets/img/marketolivemain1.png') no-repeat center center fixed;
	background-repeat: no-repeat;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.body-background3{
	width: 100%;
	background: url('//marketolive.com/m2/assets/img/marketobackground.png') no-repeat center center fixed;
	background-repeat: no-repeat;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.marketo-live-guide-option-container-home-next{
	display: inline-block;
	width: 100%;
	left: 10%;
	font-size: 25px;
	line-height: 25px;
	text-transform: uppercase;
	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
}
header{
	background-color: transparent;
}
.marketo-live-guide-option-inner-container{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
.marketo-live-guide-option{
	display:inline-block !important;
	float:none !important;
}
.option-image-title-container{
  background-color: #5a54a4;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
  font-size: 14px;
  margin-top: -25px;
  position: relative;
  width: 60%;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
}
.extra-margin{
	margin-bottom: 4%;
}
.marketo-live-home-intro-content-1{
	width: 100%;
	margin: auto;
	text-align: center;
	color: #fff;
}