html,
body {
    margin: 0px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 0px 0px 0px 5px;
  border-bottom: 2px solid #DDDDDD;
}
input[type=text]:focus{
  padding: 0px 0px 0px 17px;
  border-bottom: 2px solid rgba(88, 82, 161, 1);
}


/*********************************************************************

  Theme For Top & Side Bar Used Across Pages

*********************************************************************/


.top-bar{
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 99;
  top: 0;
  /*background-color: #5a54a4; */
  opacity: .98;
  position: fixed;
}
.top-bar-container{
  margin-left: 15px;
  margin-right: 15px;
}
.top-bar-right{
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 999;
}
.top-bar-option{
  display: inline-block;
  margin-right: 15px;
  cursor:pointer;
}
#top-bar-link{
  text-decoration: none;
  color: #fff;
}
#marketo-ball{
  margin-top: 5px;
}
#scu-logo{
  float: left;
  margin-top: 10px;
}
#home-main-body{
  margin-top: 50px;
}
.main-logo{
  position: absolute;
  top: 50%;
  /* left: 25%; */
  width: 50%;
  margin: auto;
  text-align: center;
  top: 40%;
  width: 100%;
}
.home-page-option-container {
  margin-top: 100px;
  height: 50px;
  width: 100%;
  padding-right: 10%;
  display: inline-block;
  position: absolute;
  bottom: 0px;
}
.home-page-option-inner-container {
  float: right;
  height: 100%;
  width: 200%;
  text-align: right;
}
.home-page-option {
  display: inline-block;
  height: 35px;
  padding-top: 12px;
  color: #5a54a4;
  background-color: #fff;
  width: 300px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  margin-right: 85px;
  /* margin-top: 10px; */
}
.home-page-option:hover {
  -webkit-box-shadow: 1px 1px 20px 0px rgba(253, 113, 57, 0.8);
  -moz-box-shadow: 1px 1px 20px 0px rgba(253, 113, 57, 0.8);
  box-shadow: 1px 1px 20px 0px rgba(253, 113, 57, 0.8);
  color: #ff7139;
}
#home-page-button{
  color: #5a54a4;
  text-decoration: none;
}
.small-nav-img{
  width: 30px;
}
.help-cover{
  width: 100%;
  height: 100%;
  opacity: .5;
  position: fixed;
  background-color: #505050;
  z-index: 99999;
  display: none;
}
.help-center-container{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999991;
  display: none;
}
.help-inner-container{
  height: 100%;
  width: 600px;
  margin-left: auto;
  margin-right: auto; 
}
.help-center-box{
  width: 100%;
  margin-top: 100px;
  box-shadow: 1px 1px 1px 1px #505050;
  background-color: #fff;
  z-index: 1002;
}
.help-box{
  padding: 25px;
}
.help-title{
  padding-bottom: 10px;
  margin-top: 15px;
}
.help-option-container{
  width: 100%;
  margin-top: 25px;
  display: inline-block;
  cursor: pointer;
}
.help-img{
  height: 75px;
  float: left;
  cursor: pointer;
}
.help-option-title{
  font-size: 24px;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}
.cancel-help{
  float: right;
  cursor: pointer;
  width: 25px;
  height: 20px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  border-radius: 20px;
  background-color: #5a54a4;
}
#marketo-ball{
  width: 70px;
  height: 60px;
}
.marketo-ball{
  width: 60px;
  height: 60px;  
  cursor: pointer;
  position: fixed;
  left: 65px;
  top: 15px;
  z-index: 1000;
}
.marketo-ball{
  background: url('../../img/marketo-live-circle.png') center center;
  background-size: 60px;
}
.marketo-ball:hover{
  background: url('../../img/marketo-live-circle-orange.png') center center;
  background-size: 60px; 
}
.side-bar{
  height: 100%;
  width: 200px;
  padding-top: 50px;
  opacity: .90;
  position: fixed;
  z-index: -999;
  text-align: left;
}
.side-bar-ball{
  width: 100%;
  margin-left: 30%;
}
.side-bar-container{
  padding: 5%;
  color: #5a54a4;
}
.side-bar-inner-container{
  margin-top: 50px;
  padding-left: 15px;
  display: none;
}
.side-bar-inner-option{
  color: #5a54a4;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}
.side-bar-inner-option:hover{
  color: #f79733;
}
.underline-option{
  border-bottom: 1px solid #5a54a4;
}
.padding-top{
  padding-top: 15px;
}
.help-title{
  font-size: 20px;
}
.help-option-container{
  color: #5a54a4;
}
.help-option-title{
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #5a54a4;
}
.pointer{
  cursor: pointer;
}
#demo-in-marketo{
  background: url('../../img/demoinmarketo.png') center center;
  background-size: 30px;
  width: 30px;
  height: 30px;
}
#demo-in-marketo:hover{
  background: url('../../img/demoinmarketo-orange.png') center center;
  background-size: 30px;
}
#help-link{
  background: url('../../img/help.png') center center;
  background-size: 30px;
  width: 30px;
  height: 30px;
}
#help-link:hover{
  background: url('../../img/help-orange.png') center center;
  background-size: 30px;
}

/*********************************************************************

  Standard CSS Used Across Pages

*********************************************************************/

.purple-bkg-color{
  background-color: #5a54a4;
}
.white-bkg-color{
  background-color: #fff;
}
.white-font-color{
  color: #fff;
}
.purple-font-color{
  color: #5a54a4;
}
.pointer{
  cursor: pointer;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.display{
  display: inline-block;
}
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
}
.text-align-center{
  text-align: center;
}
.display-none{
  display: none;
}