#adbridge{
  min-width: 1175px;
}
.adbridge-button-container{
  position: fixed;
  bottom: 10px;
  z-index: 99;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.adbridge-button{
  height: 40px;
  width: 200px;
  padding-top: 5px;
  text-align: center;
  margin-right: 20px;
  font-size: 24px;
  display: inline-block;
  border-radius: 5px;
}
.adbridge-background{
  width: 100%;
  height: auto;
  background-image: url(http://www.transparenttextures.com/patterns/bedge-grunge.png);
}
.adbridge-container{
  width: 100%;
  height: auto;
}
#adbridge-space{
  height: 100px;
  text-align: center;
  width: 100%;
}
#adbridge-text{
  padding-top: 40px;
}
.part-one-body-container{
  width: 100%;
  height: auto;
}
.part-one-body{
  text-align: center;
  margin-left: 15%;
}
.part-one-section{
  width: 46%;
  height: auto;
  margin-right: 1%;
}
.part-one-middle-section{
  width: 46%;
  height: auto;
  margin-right: 4%;
  margin-left: -34%;
  margin-top: 50px;
  position: relative;
  z-index: -2;
}
.part-one-last-section{
  width: 31%;
  height: auto;
  margin-right: 1%;
}
#part-one-section-img{
  width: 100%;
}
.adbridge-bkg-line-container{
  position: absolute;
  z-index: -10;
  top: 350px;
  left: 100px;
  width: 80%;
}
.adbridge-bkg-line{
  height: 10px;
}
#adbridge-bkg-line-1{
  margin-left: 30%;
}
.adbridge-arrow-container{
  position: absolute;
  top: 400px;
  z-index: -2;
  min-width: 1126px;
}
.adbridge-arrow-container{
  width: 100%;
}
#adbridge-arrow-img{
  width: 40%;
}
.adbridge-description-container{
  height: 250px;
  width: 100%;
}
.adbridge-description-words{
  width: 30%;
  box-shadow: 1px 1px 1px #808080;
  padding: 10px;
}
#adbridge-description-first{
  margin-left: 35%;
 }
#adbridge-description-second{
  margin-left: 35%;
  margin-top: 2%;
  display: none;
}
#adbridge-description-third{
  margin-left: 60%;
  margin-top: -3%;
  display: none;
}
.adbridge-cloud-container{
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 100px;
  margin-top: -100px;
}
.adbridge-cloud-inner-container{
  text-align: center;
  width: 100%;
  display: inline-block;
}
#cloud-img{
  width: 100%;
}
.adbridge-description-word-cloud{
  margin-top: 50px;
  width: 30%;
  box-shadow: 1px 1px 1px #808080;
  padding: 10px;
  font-size: 18px;
  margin-top: 100px;
}
.extra-spacing-word{
  margin-left: 2%;
}
.arrow-from-cloud-container{
  width: 100%;
  margin-top: -15px;
  text-align: center;
  margin-top: -115px;
  position: relative;
}
.arrow-from-cloud-inner-container{
  text-align: center;
}
.arrow-from-cloud{
  width: 10px;
  height: 0px;
  position: relative;
  z-index: -1;
  top: 0px;
}
.add-spacing{
  position: relative;
  margin-top: 200px;
  display: none;
}
.cloud-float{
  width: 60%;
  margin-left: 3%;
  margin-right: 2%;
}
#fb-img{
  width: 100%;
}
#adbridge-three{
  margin-top: 0px;
}
.part-one-inner-body-container{
  margin-left:auto;
  margin-right:auto;
}
.margin-left{
  position: relative;
  margin-right: -50px;
  display: none;
}
#adbridge-bkg-line-2{
  width: 0px;
  margin-left:40%;
}
.adbridge-arrow-inner-container{
  margin-right: 12%;
  width: 100%;
}
.addspacing, #adbridge-top, #adbridge-three, #adbridge-bkg-line-1, #adbridge-bkg-line-2, #adbridge-arrow, #cloud-img, #adbridge-description-fourth, #fb-img, #adbridge-description-fifth, #last-arrow{
  display: none;
}
