.help-option-row-container{
  width: 100%;
display: inline-block;
    /* text-align: center; */
    margin-left: 40px;
    margin-top: 25px;
}
.help-option-inner-container{
  float: left;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  width: 200px;
}
.help-option-inner-image{
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
.help-option-inner-words{
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 8px;
  color: #808080;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  height: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #c2c2c2;
}
.help-img{
  float: none;
  height: 50px;
}
.extra-help-margin{
  margin-left: 50px;
}

/* Request SC Page */

.map-body-container{
  width: 100%;
  text-align: center;
}
.map-body-header{
  font-size: 36px;
  color: #5a54a4;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 100px;
}
.map-body-option{
  font-size: 24px;
  color: #505050;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 15px;
}
.map{
  width: 800px;
  text-align: center;
  margin: -150px auto 0 auto;
}
.map-overlay{
  width: 800px;
  margin-top: 160px;
  height: 450px;
  position: absolute;
  z-index: 3;
}
#us-map-west{
  width: 28%;
  height: 450px;
  float: left;
  cursor: pointer;
}
#us-map-central{
  width: 42%;
  height: 450px; 
  float: left;
  cursor: pointer;
}
#us-map-east{
  width: 25%;
  height: 450px;
  float: left;
  cursor: pointer;
}