/********************************************************************

Modal Window

********************************************************************/

/*  This is duplicated from bootstrap specifically for 
    the turner-rtp.html file */
h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#modal-background {
    font-family: inherit;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}

#mkto-live-logo {
    width: 120px;
    vertical-align: top;
    margin-top: 15px;
}

#mkto-ball {
    margin-left: 0;
}

#modal-window {
    position: relative;
    font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
    color: #5a54a4;
    display: block;
    font-size: 14px;
    font-weight: bold; 
    width: 600px;
    height: 500px;
    margin: 10% auto;
    text-transform: none;
}

#modal-content {
    margin-top: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#modal-content h1 {
    font-size: 2em;
    text-transform: none;
}

#modal-content h2 {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit;
}

#modal-top-bar {
    background-color: #5a54a4;
    height: 15%;
    width: 100%;
    line-height: 15%;
}

#modal-content .button {
    font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #5a54a4;
    color: white;
    height: 40px;
    line-height: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    text-transform: uppercase;
}

#modal-content .button:hover {
    color: orange;
}

#secret-passage {
    text-decoration: none;
}

.clickable,
.clickable:visited,
.clickable:hover,
.clickable:active {
    text-decoration: none;
}