body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 0 0 0 5px;
  border-bottom: 2px solid #ddd;
}
input[type=text]:focus {
  padding: 0 0 0 17px;
  border-bottom: 2px solid rgba(88, 82, 161, 1);
}
.title{
  text-align: center;
  font-size:14px;
  margin-bottom:12px;
}
.option-container {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  cursor: pointer;
}
.option-image-container {
  width: 60px;
  height: auto;
  float: left;
  text-align: center;
}
.option-image {
  height: 30px;
}
.option-title {
  font-size: 12px;
  color: #5a54a4;
  padding-top: 10px;
  padding-left: 10px;
}
.clear-container {
  float: left;
  margin-left: 5px;
  cursor: pointer;
}
.clear-submit {
  height: 28px;
  background-color: #5a54a4;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.clear-inner-submit {
  padding-top: 8px;
}
.extra-margin {
  width: 260px;
  padding-left: 15px;
}
.font-size-priv {
  font-size: 12px;
}
.edit-title {
  font-size: 12px;
  color: #5a54a4;
  margin-right: 10px;
  padding-top: 3px;
}
.option-image-container-toggle {
  width: 70px;
  float: left;
  text-align: center;
}
.option-image-toggle {
  width: 70%;
  float: left;
}
.float-left {
  float: left;
}
.company-container {
  display: inline-block;
  width: 100%;
  margin-left: 8px;
  padding-top: 10px;
}
.company-name {
  width: 180px;
  height: 26px;
  font-size: 12px;
  font-weight: 200;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.company-submit {
  width: 50px;
  height: 28px;
  background-color: #5a54a4;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: -15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.company-inner-submit {
  padding-top: 8px;
}

#status {
  display: block;
  width: 300px;
}
#marketo-live-logo-container {
  display: inline-block;
  width: 100%;
  background-color: #5a54a4;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c2c2c2;
}
#logo-size {
  height: 35px;
  float: left;
  margin-left: 15px;
}
#help, #settings, #admin {
  height: 35px;
  float: right;
  margin-right: 15px;
  padding-top: 3px;
  cursor: pointer;
}
#help-size, #gear-size, 
.iconSize{
  height: 25px;
}
#help-container, #settings-container {
  display: none;
  background-color: #f2f2f2;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
#admin-container{
  display:none;
  margin: 5px 30px;
}
#adminFunc-container{
  display:none;
}
.errorColor{
  color:red;
  border-color:red !important;
}
.errorColor::-webkit-input-placeholder
.errorColor::placeholder, {
  color:  red !important;
 }
 #adminErrorMsg{
   color:red;
   font-size:14px;
   font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
   margin:10px;
 }
 .percInput{
  height: 25px;
  width: 25px;
  border: 1px solid black !important;
  position: relative;
 }
 .inlineForInput{
   position:relative;
   display:inline-block;
 }
 /* checkbox */
.checkboxContainer{
  margin:5px 0;
}
.checkboxContainer label{
  font-size:14px;
}
input[type='checkbox']{
  display:none;
}
.checkboxWrapper{
  display:inline-block;
  vertical-align:-3px;
  margin-right:5px;
}
input[type='checkbox'] + label{
  position: relative;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'] + label > span{
  display: flex;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;  
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox']:checked + label > span{
  border:1px solid #fff;
  transition: border-color .6s ease;
}
input[type='checkbox']:checked + label > span:before{
  content: "";
  position: absolute;
  top: -2px;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #5a54a4;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: 7px;
    height: 7px;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: 7px;
    height: 15px;    
    border-color: #5a54a4;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}