.first-section-bkg{
  background: url('../../img/marketobackground.png') center center fixed;
  width: 100%;
  background-size: cover;
  min-height: 900px;
}
.main-title-container{
  width: 100%;
  padding-top: 115px;
  padding-bottom: 15px;
}
.main-option-bubbles-container{
  width: 100%;
  margin-top: 50px;
}
.main-option-bubbles-inner-container{
  width: 25%;
}
.main-option-bubble-title{
  margin-bottom: 25px;
}
.main-option-bubble-container{
  width: 175px;
  height: 175px;
  margin: 0 auto;
  border-radius: 100px;
  border: 5px solid #5a54a4;
}
.main-option-bubble{
  width: 125px;
  height: 125px;
  margin: 0 auto;
  padding-top: 25px;
}
#drive-more-awareness-bubble{
  width: 100%;
  height: 125px;
  margin: 0 auto;
  background: url('../../img/drive.png');
  background-size: 125px;
}
#engage-your-customers-bubble{
  width: 100%;
  height: 125px;
  margin: 0 auto;
  background: url('../../img/engage.png');
  background-size: 125px;
}
#align-with-sales-bubble{
  width: 100%;
  height: 125px;
  margin: 0 auto;
  background: url('../../img/sales.png');
  background-size: 125px;
}
#measure-your-success-bubble{
  width: 100%;
  height: 125px;
  margin: 0 auto;
  background: url('../../img/report.png');
  background-size: 125px;
}
.arrow-container{
  width: 100%;
}
.arrow-inner-container{
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.down-arrow-bkg-white{
  background: url('../../img/downarrow.png');
  background-size: 50px;
  width: 50px;
  height: 50px;
}
.down-arrow-bkg{
  background: url('../../img/downarrow-purp.png');
  background-size: 50px;
  width: 50px;
  height: 50px;
}
.up-arrow-bkg{
  background: url('../../img/uparrow-purp.png');
  background-size: 50px;
  width: 50px;
  height: 50px;
}
.section-container{
  width: 100%;
}
.section-image-container{
  width: 50%;
}
.section-image-right-padding{
  padding-right: 3%;
  padding-left: 2%;
}
.section-image-left-padding{
  padding-left: 5%;
}
.section-words{
  width: 45%;
  padding-top: 25px;
}
.section-words-inner-container{
  max-width: 600px;
  margin: 0 auto;
}
.image{
  width: 95%;
}
.section-title{
  font-size: 32px;
  width: 100%;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.section-sub-title{
  padding-top: 25px;
  font-weight: 200;
  font-size: 24px;
}
.section-sub-words{
  padding-top: 25px;
  font-size: 18px;
  font-weight: 200;
  line-height: 2;
  height: 225px;
}
.section-bubble-container{
  width: 100%;
}
.section-bubble-row-container{
  width: 100%;
  margin-left: 15%;
}
.section-bubble-row-space{
  margin-bottom: 25px;
}
.section-bubble-inner-container{
  width: 33%;
}
.section-small-bubble-inner-container{
  width: 25%;
}
.section-bubble{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 0 auto;
  border: 2px solid #5a54a4;
}
.section-small-bubble{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  margin: 0 auto;
  border: 2px solid #5a54a4;
}
.bubble-words-padding{
  padding-top: 55px;
}
.small-bubble-words-padding{
  padding-top: 30px;
}
.grey-bkg{
  background-color: #f2f2f2;
}
.extra-section-spacing{
  margin-top: 100px;
}
.extra-section-up-spacing{
  padding-top: 75px;
}
.extra-spacing-down{
  margin-bottom: 100px;
}
.extra-padding-down{
  padding-bottom: 100px;
}