textarea{
  font-size: 18px;
}
*{
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#replicate-success{
  background-color: #808080;
}
.campaign-inner-theme{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #505050;
}
.orange-bkg-color{
  background-color: #f47621;
}
.green-bkg-color{
  background-color: #2a5370;
}
.light-green-bkg-color{
  background-color: #a3d39c;
}
.blue-bkg-color{
  background-color: #7da7d9;
}
.light-blue-bkg-color{
  background-color: #537bfc;
}
.grey-bkg-color{
  background-color: #c2c2c2;
}
.green-font-color{
  color: #2a5370;
}
.grey-background-color{
  background-color: #999999;
}
.tokens-title{
  color: #5a54a4;
}
.font-size-larger{
  font-size: 18px;
  font-weight: 200;
}
.small-font{
  font-size: 8px;
}
.light-grey-bkg-color{
  background-color: #f2f2f2;
}
.replicate-success-space-theme{
  text-transform: uppercase;
  color: #505050;
  font-weight: 200;
  font-size: 36px;
}
.clone-button-theme{
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}
.switch-to-mkto:hover{
  color: #c2c2c2;
}